content: url('https://api.iconify.design/clarity:copy-to-clipboard-line.svg?height=16');
vertical-align: -0.125em;

.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

#copy-me {
  display:none
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: grey;
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: x-small;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chat__body {
  flex: 1;
  background-image: url("https://i.imgur.com/8DlkzeS.gif");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8dc;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  margin: 0 10px 0px 10px;
}

.chat__footer > form > button {
  display: none;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.chat__icon{
  font-size: 100px;
  background: url('https://api.iconify.design/clarity:copy-to-clipboard-line.svg') no-repeat center center / contain;
}

.visuallyhidden {
  position:absolute;
  clip:rect(1px,1px,1px,1px)
}
.button-tooltip-container {
  display: flex;
  color: gray;
  align-items: center;
  margin-top: 2px;
  min-height: 30px;
}
#custom-tooltip {
  display: none;
  margin-left: 8px;
  background-color: transparent;
  border-radius: 3px;
  border-color: #ffffff;
  color: #000000;
}