.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: grey;
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: x-small;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chat__body {
  flex: 1;
  background-image: url("https://i.imgur.com/8DlkzeS.gif");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8dc;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  margin: 0 10px 0px 10px;
}

.chat__footer > form > button {
  display: none;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.toggle-emoji {
  border: none;
  width: 50px;
  height: auto;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 600px) {
  .emoji-mart {
    position: absolute;
    left: 480px;
    bottom: 140px;
  }}
  @media only screen and (max-width: 1080px) {
    .emoji-mart {
      position: absolute;
      left: 180px;
      bottom: 140px;
    }}
  
